In [2]:
spark

In [1]:
spark.sql("select * from cours_spark.postesmeteo where ID < 8000 limit 3").toPandas()

  Altitude     ID   Latitude  Longitude              Nom
0       69  07005  50.136000   1.834000        Abbeville
1       47  07015  50.570000   3.097500            Lille
2        6  07020  49.725167  -1.939833  Pte De La Hague