In [1]:
spark

In [3]:
spark.read.format("csv").option("sep", ";").\
           option("mergeSchema", "true").\
           option("header","true").\
           option("nullValue","mq").\
           load("/user/spark/donnees/postesSynop.csv").\
           filter("ID<8000").\
           toDF("Station","Ville","Latitude","Longitude","Altitude").\
           toPandas().head(5)

  Station            Ville   Latitude  Longitude Altitude
0   07005        ABBEVILLE  50.136000   1.834000       69
1   07015    LILLE-LESQUIN  50.570000   3.097500       47
2   07020  PTE DE LA HAGUE  49.725167  -1.939833        6
3   07027   CAEN-CARPIQUET  49.180000  -0.456167       67
4   07037       ROUEN-BOOS  49.383000   1.181667      151